form {
    width: 500px;
    height: auto;
}

form:after{
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}
#screen {
    width: 100%;
    line-height: 115px;
    height: 115px;
    background-color: lightgrey;
    border: 1px black solid;
}

form input {
    width: 24%;
    height: 115px;
    display: inline-block;
}

.large {
    width: 48.7%;
}
